<div class="page-header">
  <!--<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>-->

  <ul class="custom-header">
    <li><a href="/" class="active"> Blog</a></li>
    <li><a href="/about.html" class="active"> About Me</a></li>
    <!--<li class="mydropdown">
      <div class="dropdown-defalt">Courses</div>
      <div class="dropdown-content">
        <a href="/content/mobile-dev/">Mobile Development</a>
      </div>
    </li>-->

  </ul>


  {{ content }}